
<mat-card>
  <mat-card-title>ASSIGNMENTS-LOGIN</mat-card-title>
<mat-card-content>
  <form (ngSubmit)="onSubmit()">
<p>
  <mat-form-field>
    <input matInput placeholder="Username" [(ngModel)]="username" name="username">
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password">
  </mat-form-field>
</p>

<!-- <p *ngIf="error" class="error">
  {{ error }}
</p> -->

<div class="button">
  <button type="submit" mat-button>Login</button>
</div>

</form>
</mat-card-content>
</mat-card>
