<h1 mat-dialog-title>Noter l'Assignment</h1>
<!-- <h2 mat-dialog-title>Hi {{data.name}}</h2> -->
<mat-dialog-content>
  <div>
    <mat-form-field>
      <mat-label> Note </mat-label>
      <input type="number" min="0" max="20" matInput [(ngModel)]="note">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label> Remarques </mat-label>
      <input matInput [(ngModel)]="remarque">
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button>Annuler</button>
  <button color="primary" (click)="onSubmit()" mat-button cdkFocusInitial>Noter</button>
</mat-dialog-actions>
