.assignment-card {
  display: flex;
  flex-direction: row;
  width: 100%; /* Assure que la carte prend toute la largeur disponible */
}

.card-content {
  display: flex;
  flex-direction: row;
  width: 100%; /* Assure que le contenu de la carte prend toute la largeur disponible */
}

.left-section {
  flex: 0 0 auto; /* Garde la taille de la section de gauche non flexible */
}

.right-section {
  flex: 1; /* Fait en sorte que la section de droite prenne tout l'espace disponible */
}

.matiere-image {
  width: 500px; /* Taille de l'image de la matière, ajustez selon vos besoins */
  height: auto;
  margin-right: 20px; /* Espacement entre l'image et le contenu de droite */
}

.actions-container {
  margin-right: 20px;
}


.card-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
}

.card-title-section {
  display: flex;
  justify-content: left;
  width: 100%;
  align-items: left;
}

.card-title {
  text-align: left;
}

.author-details {
  text-align: left;
}

.actions-container {
  display: flex;
  justify-content: left;
  width: 100%;
}

.actions-container button,
.actions-container mat-checkbox {
  margin: 0 10px;
}

mat-divider {
  width: 100%;
  margin: 10px 0;
}

.passable {
  color: red;
}

.bien {
  color: orange;
}

.tres-bien {
  color: green;
}

.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

