.assignment-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.assignment-wrapper {
  flex: 1 1 calc(33.333% - 1rem);
  box-sizing: border-box;
  margin: 0.5rem;
}

.assignment-card {
  width: 100%;
  box-sizing: border-box;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.matiere-image {
  width: 100px; /* Adjust the width as needed */
  height: auto;
}

.note {
  font-weight: bold;
}

.passable {
  color: red;
}

.bien {
  color: orange;
}

.tres-bien {
  color: green;
}

.date-passee {
  color: red;
}

.assignment-link {
  text-decoration: none;
}

.assignment-card {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.assignment-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);
  background-color: #f0f0f0; /* Changez cette couleur selon vos préférences */
}

.loading-indicator {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
}
