
<div *ngIf="isLoading" class="loading-indicator">
  <mat-spinner></mat-spinner>
</div>

<div >
  <mat-paginator
  [length]="this.total"
  [pageSize]="pageSize"
  (page)="onPageChange($event)"
></mat-paginator>
<div class="assignment-container">
  <div *ngFor="let assignment of assignments" class="assignment-wrapper">
    <a [routerLink]="['/assignments', assignment._id]" class="assignment-link">
      <mat-card class="assignment-card">
        <mat-card-header>
          <mat-card-title>{{ assignment.nom }}</mat-card-title>
          <mat-card-subtitle>
            {{ assignment.auteur.nom }} - {{ assignment.matiere.nom }}
          </mat-card-subtitle>
          <img
            mat-card-avatar
            [src]="'assets/images/' + assignment.matiere.prof.image"
            alt="{{ assignment.matiere.prof.nom }}"
          />
        </mat-card-header>
        <div class="image-container">
          <img
            mat-card-image
            [src]="'assets/images/' + assignment.matiere.image"
            *ngIf="assignment.matiere.image"
            alt="{{ assignment.matiere.nom }}"
            class="matiere-image"
          />
        </div>
        <mat-card-content>
          <p [ngClass]="{'date-passee': isDatePassed(assignment.dateDeRendu)}">
            Date de rendu : <strong>{{ assignment.dateDeRendu | date: 'dd MMMM yyyy' }}</strong>
          </p>
        </mat-card-content>
      </mat-card>
    </a>

  </div>
</div>
</div>



