/* .spacer {
  flex: 1 1 auto;
} */

.navbar {
  position: fixed;

}


.footer {
  bottom: 0;
  width: 60%;
  left :0;
  margin: 0;
  justify-content: space-between;
  background-color: white;
  color: black;
}

.element{
margin-left: auto;
position: relative;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  top: 0;
}

.content {
  padding: 20px;
  margin-top: 64px;
}

.fixed-toolbar {
  position: relative ;
  top: 0;
  /* left: 0.5; */
  /* width: 100%; */
  margin: 0;
  z-index: 1000;
}

.fixed-primary{
  top: 0;
  position: fixed ;
  width: calc(100% - 200px);
  transition: all 1s ease;
  z-index: 1000;
}

.fixed-primary.click{
  width: 100%;
  transition: all 1.5s ease;
  z-index: 1000;
}
