/* assignment-list.component.css */
.assignments-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.assignment-card {
  display: flex;
  justify-content: space-between;
}

mat-card {
  padding:10px;
  width: 100%;
}

mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
}

mat-card-content p {
  margin: 10px 0;
}

.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}
